{% extends 'classy/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Classifiers</h3>
        </div>
        {% if classifiers %}
            {% for classifier in classifiers %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'classy:detail' classifier.id %}">
                            <img src="{{ classifier.classifier_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ classifier.classifier_name }}</h2>

                            <!-- View Details -->
                            <a href="{% url 'classy:detail' classifier.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'classy:delete_classifier' classifier.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="classifiers_id" value="{{ classifier.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="{% url 'classy:favorite_classifier' classifier.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if classifier.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'classy:create_classifier' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- If user searches and there are songs -->
    {% if corpuses %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Copus</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Corpus Title</th>
                                    <th>Corpus Text</th>
                                    <th>Classifier</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for corpus in corpuss %}
                                    <tr>
                                        <td>{{ corpus.song_title }}</td>
                                        <td>{{ corpus.corpus_text }}</td>
                                        <td>
                                            <a href="{% url 'classy:detail' corpus.classifier.id %}">
                                                <img src="{{ corpus.classifier.classifier_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'classy:detail' corpus.classifier.id %}">{{ corpus.classifier.classifier_name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'classy:favorite' corpus.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if corpus.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
