{% extends 'classy/base.html' %}
{% block title %}All Stop Words{% endblock %}
{% block stop_word_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'classy:stop_words' %}">View All</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Stop Word Id</th>
                                <th>Stop Word</th>
                                <th>Classifier</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stop_words in stop_words_list %}
                                <tr>
                                    <td>{{ stop_words.id }}</td>
                                    <td>{{ stop_words.word }}</td>
                                     <td>
                                        <a href="{% url 'classy:stop_words_detail' stop_words.classifier.id %}">
                                            <img src="{{ stop_words.classifier.classifier_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'classy:detail' stop_words.classifier.id %}">{{ stop_words.classifier.classifier_name }}</a>
                                    </td>
                                    <td>
                                        <form action="{% url 'classy:delete_stop_words' stop_words.classifier.id stop_words.id 'all' %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="stop_words_id" value="{{ stop_words.id }}" />
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
