{% extends 'classy/base.html' %}
{% block title %}Train Classifier{% endblock %}
{% block classifier_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'classy:detail' classifier.id %}">
                            {% if classifier.classifier_logo %}
                                <img src="{{ classifier.classifier_logo.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h1>{{ classifier.classifier_name }}</h1>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'classy:detail' classifier.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'classy:create_corpus' classifier.id %}">Add New Corpus</a></li>
                <li role="presentation"><a href="{% url 'classy:upload_file' classifier.id %}">Upload File</a></li>
                <li role="presentation" class="active"><a href="{% url 'classy:trainer' classifier.id %}">Train Classifier</a></li>
                <li role="presentation"><a href="{% url 'classy:classifier' classifier.id %}">Make Prediction</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Train Classifier</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="classifier" value="{{ classifier }}">
                        {% include 'classy/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Start Train</button>
                            </div>
                        </div>
                    </form>

                    {% if train_message %}
                        <h3>Trained results</h3>
                        <div class="col-sm-offset-2 col-sm-10">
                            <p><strong>
                                <h3 style="color: orangered">{{ train_message }}</h3>
                            </strong></p>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

